[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/toby/scripts/locker.sh
ExecStartPost=/usr/bin/sleep 10

[Install]
WantedBy=sleep.target