!--- URxvt ---!

URxvt*depth: 32

URxvt*font:             xft:dejavu sans mono:size=12
URxvt*termName:         rxvt-256color
URxvt*scrollBar:        false
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt*perl-ext-common:  default,matcher
URxvt*urlLauncher:      /usr/bin/google-chrome-stable
URxvt*matcher.button:   1
URxvt.internalBorder:   10

URxvt.urgentOnBell: True