[user]
	name = Toby Law
	email = toby.zhi-chao.law@rokt.com
	signingkey = /Users/toby/.ssh/id_ed25519.pub

[init]
	defaultBranch = main

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	fl = "log --graph --decorate --oneline"
	
	clone-wt = "!zsh $HOME/worktrees.zsh"
	vis = "!tig"

	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true

[core]
    pager = delta
	excludesFile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[http]
	sslCAInfo = /Users/lawt3/.ssh/anz_global_root_ca_v2.pem
[gpg]
	format = ssh
