[user]
	name = Toby Law
	email = toby.law@anz.com
	signingKey = 33D9FA5C0E637C34
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	fl = "log --graph --decorate --oneline"
	
	clone-wt = "!zsh $HOME/worktrees.zsh"
	vis = "!tig"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
