# sudo cp ~/scripts/m_sd.service /etc/systemd/system/m_sd.service
[Unit]
Description=Unmount Google Drive
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/home/toby/scripts/shutdown.sh
RemainAfterExit=true

[Install]
WantedBy=multi.user.target